bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
*.rsuser
*.nupkg
*.snupkg
project.lock.json
.idea/

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
